[submodule "EAFC-Web-Development-Exam-Project-Backend-Archive"]
	path = EAFC-Web-Development-Exam-Project-Backend-Archive
	url = https://github.com/PinsonJulien/EAFC-Web-Development-Exam-Project-Backend-Archive.git
[submodule "EAFC-Web-Development-Exam-Project-Frontend-Archive"]
	path = EAFC-Web-Development-Exam-Project-Frontend-Archive
	url = https://github.com/PinsonJulien/EAFC-Web-Development-Exam-Project-Frontend-Archive.git
